<h2>Dynamics reactive Forms</h2>
<hr />

<form (ngSubmit)="save()" autocomplete="off" [formGroup]='myForm'>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label" for="name">Name</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        type="text"
        placeholder="Name"
        formControlName="name"
      />
      <span class="form-text text-danger m-auto"
            *ngIf="fieldsErrorsValidations('name')">
        It must be 3 letters
      </span>
    </div>
  </div>

  <br />

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label" for="name">Add</label>
    <div class="col-9">
      <div class="input-group">
        <input class="form-control" 
                type="text" 
                placeholder="Add"
                [formControl]="addGame" 
                (keyup.enter)="addNewGame()"/>
        <button type="button" 
                class="btn btn-outline-dark"
                (click)="addNewGame()">
            Add
        </button>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label" for="name">Favorites</label>

    <div class="col-sm-9" formArrayName="favorites">
      <div class="input-group mb-1"          
          *ngFor="let favorite of favoritesArr.controls; let i = index">

        <input class="form-control"
              [formControlName]="i"/>

        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="delete(i)"> 
          Delete
        </button>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <button
        class="btn btn-dark float-end"
        type="submit">
        Save
      </button>
    </div>
  </div>
</form>


<span>Valid</span>
<pre>{{ myForm.valid }}</pre>
<br>
<span>Values Form Group</span>
<pre>{{ myForm.value | json }}</pre>
<br>
<span>Values addGame Formd</span>
<pre>{{ addGame.value | json }}</pre>